@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

:root {
  --background: #32302f;
  --foreground: #ebdbb2;
  --navbar:     #504945;
  --navsel:     #d79921;
  --navhover:   #fabd2f;
}

@keyframes title {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

@keyframes subtitle {
  0%    {opacity: 0; font-size: 48px;}
  100%  {opacity: 1; font-size: 64px;}
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
    margin: 0px;
    overflow-x: hidden;
}

h1 {
  text-align: center;
}

h2 {
  padding-left: 60px;
}

th {
  padding-bottom:8px;
}

td {
  text-align: center;
}

#title-screen {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
}

#title-screen p {
    margin: 0;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ts-biggest {
    font-size: 188px;
    animation-name: title;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.ts-bigger {
    font-size: 64px;
    animation-name: subtitle;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#navbar {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--navbar);
}

#navbar a {
  float: left;
  display: block;
  color: var(--foreground);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

#navbar a:hover {
  background-color: var(--navhover);
  color: var(--background);
}

#navbar a.active {
  background-color: var(--navsel);
  color: var(--foreground);
}

#navbar a.active:hover {
  background-color: var(--navhover);
  color: var(--background);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding-left: 10vw;
    padding-right: 10vw;
}

.sticky + .content {
    padding-top: 56px;
}
